@import url('https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&family=Playwrite+AT:ital,wght@0,100..400;1,100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background:rgba(0, 0, 0, 1);
    -ms-overflow-style: none;
    scrollbar-width: none;
    margin: 0%;
}

::-webkit-scrollbar {
  display: none;
}

/* * { outline: 1px solid red; } */

.projects_title{
  width: fit-content;
  text-align: center;
  margin: 0 auto;
  color: transparent;
  background: #3B0081;
  background: linear-gradient(20deg, rgba(59, 0, 129, 1) 0%, rgba(196, 94, 221, 1) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  margin-top: 1.5rem;
  font-weight: 400;
} 

.projects_title_container{
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.projects_tagline{
  width: fit-content;
  text-align: center;
  margin: 0 auto;
  color: rgb(236, 236, 236);
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  margin-bottom: 1rem;
  font-weight: 300;
}

.subtitle {
  color:rgb(236, 236, 236);
  font-family: "montserrat", sans-serif;
  font-size: 1.25rem;
  font-weight: 300;
  font-style: normal;
  width: 50%;
  margin: 0 auto;
  pointer-events: none;
  text-align: center;
}

.title_img{
    margin: 0 auto;
    width:80%;
    height:auto;
}


.inline_img{
    width: 60%;
    height: auto; 
}

.project_subtitle{
    color:rgb(236, 236, 236);
    font-family: "montserrat", sans-serif;
    font-size: 1.25rem;
    font-weight: 300;
    font-style: normal;
}

.project_text{
    width: 70%;
    color:rgb(236, 236, 236);
    font-family: "Host Grotesk", sans-serif;
    font-weight: 300;
    font-style: normal;
}
